Source: ros-lyrical-ecl-lite
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-ros, ros-lyrical-ros-workspace
Homepage: http://www.ros.org/wiki/ecl_lite
Standards-Version: 3.9.2

Package: ros-lyrical-ecl-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ecl-config, ros-lyrical-ecl-converters-lite, ros-lyrical-ecl-errors, ros-lyrical-ecl-io, ros-lyrical-ecl-sigslots-lite, ros-lyrical-ecl-time-lite, ros-lyrical-ros-workspace
Description: Libraries and utilities for embedded and low-level linux development.
